body{
    background: url(stonetile.jpg) no-repeat center center/cover;
    height: 100%;
  margin: 0;
  padding: 0 40px;
  overflow: hidden;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  
}
html{
    height: 100%;
  margin: 0;
  padding: 0;
}
h1{
background: linear-gradient(90deg, #006400, #228B22); /* 濃い緑→やや明るい緑 */
/* 
background: linear-gradient(90deg, #ffb6c1, #9370db); ピンク→紫
*/
  -webkit-background-clip: text;  /* 背景を文字に適用 */
  -webkit-text-fill-color: transparent; /* 文字色を透明にして背景を見せる */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
main,nav a,main ul li a{
    color: rgb(66, 66, 66);
}
nav a,main ul li a{
    text-decoration: none;
}
nav a{
    padding: 10px;
}
main ul li{
    list-style: none;
}
footer{
 background: linear-gradient(90deg, #006400, #228B22); /* ピンク→紫 */
  -webkit-background-clip: text;  /* 背景を文字に適用 */
  -webkit-text-fill-color: transparent; /* 文字色を透明にして背景を見せる */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}